<h1>Fundraiser Details</h1>

<div id="fundraiser-details" class="fundraiser-card" *ngIf="fundraiser">
    <img [src]="'../../assets/img/home1.png'" alt="Fundraiser Image">
    <h2>{{ fundraiser.CAPTION }}</h2>
    <p><strong>Organizer:</strong> {{ fundraiser.ORGANIZER }}</p>
    <p><strong>Target Funding:</strong> ${{ fundraiser.TARGET_FUNDING }}</p>
    <p><strong>Current Funding:</strong> ${{ fundraiser.CURRENT_FUNDING }}</p>
    <p><strong>City:</strong> {{ fundraiser.CITY }}</p>
    <p><strong>Category:</strong> {{ fundraiser.CATEGORY_NAME }}</p>
    <p><strong>Description:</strong> {{ fundraiser.DESCRIPTION }}</p>
</div>

<!-- Donation button -->
<button id="donate-button" class="donate-button" (click)="showModal()">Donate</button>
<br><br>
<!-- Donations list -->
<h1>Donations</h1>
<table *ngIf="donations && donations.length > 0" class="donation-table">
  <thead>
    <tr>
      <th>Donor</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let donation of donations">
      <td>{{ donation.GIVER }}</td>
      <td>${{ donation.AMOUNT }}</td>
      <td>{{ donation.DATE | date }}</td>
    </tr>
  </tbody>
</table>
<p *ngIf="!donations || donations.length === 0">No donations yet.</p>