/* Footer */
footer {
    background-color: #1b6cd7;  /* Main theme color */
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1.1em;
}
h1{
    text-align: center;
}


h1, h2 {
    color: #1b6cd7;  /* Main color */
    margin-bottom: 20px;
}